html {
  scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #130D0A;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	scroll-behavior: smooth;
}
.flex{
	display: flex;
justify-content: center;
align-items: center;
}
#content {
  background-color: #130d0a;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero, .layer {
  min-height: 800px;
	display: flex;
	justify-content: center;
}

.layer-bg {
	background: linear-gradient( rgb(19, 13, 10), rgba(0, 0, 0, 0.8), rgba(19, 13, 10)),  url(../IMG/landing.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.layer-bg>img{
	height: 100px!important;
}

.layer-1 {
	  background-position: left bottom;
}

.layer-2 {
}
.layer-3 {
  background-position: center;
	background-size: cover;
	height: 300px;
	width: 380px;
}
.layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png\a");
}

.layer-overlay {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png');
}

header{
	position: fixed;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  background-color: #130D0A;
  padding: 0.5rem;
	display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease-in-out;
  width: 100%;
}
nav{

}
nav>ul{
	display: flex;
  justify-content: center;
  align-items: center;
	list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav>ul>li>a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
  color: white;
	margin: 25px;
  font-size: 1rem;
}
nav>ul>li>a:hover{
	transition: all 0.3s ease-in-out;
	color: firebrick;
}
nav ul{

}
.container{
	display: flex;
	justify-content: center;
	background-color: #130D0A;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}
.landing-page{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-position: bottom;
	background-size: cover;
}
.landing-page>h1{
	color: white;
	font-family: 'Oswald', sans-serif;
}
.logo{
	width: 64px;
}
.slogan{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: #130D0A;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.watch{
  background-position: center bottom;
  padding-bottom: 75px;
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
}
.watch-char{
	display: flex;
	background: linear-gradient( rgb(19, 13, 10), rgba(0, 0, 0, 0), rgb(19, 13, 10)), url(../img/mist.png);
	width: 100%;
	background-position: center;
	justify-content: center;
	pointer-events: none;
	align-items: center;
	flex-direction: column;
	color: white;
}
.watch-char>img{
	width: 60%;
}
.watch-title{
	margin-top: 24px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
}
.watch-title>span{
	color: #fff;
	text-transform: uppercase;
	font-size: 115px;
	font-weight: 900;
	width: 100%;
}
.overiew{
	padding-top: 1rem;
	max-width: 1200px;
	color: white;
	background-color: #130D0A;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1rem;
}
.introduce{
	display: flex;
	background: linear-gradient( rgb(19, 13, 10), rgba(0, 0, 0, 0.5), rgba(19, 13, 10)),  url(../IMG/intro.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	max-width: 1200px;
	flex-direction: row;
	align-items: center;
	padding: 0rem 5rem 0rem 5rem;
	padding-top: 3rem;
	color: white;
}
.introduce div{
	height: 50vh;
	text-align: center;
	padding: 1rem;
	max-width: 1200px;
}
.introduce>div>p{
	text-align: left;
}
.introduce p{
	text-align: left;
}
.review{
	color: white;
	height: 50vh;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.review-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	text-align: center;
}
.review-grid>div>p{
	font-size: 32px;
}
.gameplay{
	color: white;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.gameplay-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}
.gameplay-grid>div>h2{
	text-align: center;
}
.gameplay-img{
	width: 100%;
}
.news{
	padding-top: 3rem;
	grid-area: news;
	display: grid;
	padding: 1rem;
	background: linear-gradient( rgb(19, 13, 10), rgba(0, 0, 0, 0.5), rgba(19, 13, 10)),  url(../IMG/intro.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  display: grid;
  grid-gap: 2rem;
	max-width: 1200px;
	padding: 0rem 5rem 0rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.news-article{
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.image-preview{
	position: relative;
	display: block;
	height: 300px;
	image-orientation: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	object-fit: cover;
	overflow: hidden;
}
.cornertime{
	float: right;
  padding: 1rem;
  color: firebrick !important;
  text-align: right;
}
.image-privew>img{
	object-fit: cover;
	width: 300px;
}
.article-preview-inner{
	background: #130D0A ;
  padding: 20px;
	color: white;
  z-index: 1;
  transition: transform 0.2s ease;
}
.patch-preview-title{
	font-family: 'Teko', 'Oswald', sans-serif;
	font-size: 32px;
	line-height: 1;
	color: white;
	text-transform: uppercase;
}
.patch-preview-title>h1{
	color: white;
}
.patch-preview-desc{
	padding-top: 10px;
  display: block;
}
.article-cta{
	background: firebrick;
  text-align: center;
  min-height: 40px;
  height: 1px;
	text-decoration: none;
	border:0;
  display: -ms-flexbox;
  display: flex;
	color: white;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
	cursor: pointer;
  justify-content: center;
}
.article-cta>a{
	color: white;
	text-decoration: none;
}
.article-dropdown{
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in-out;
	background: #130D0A;
}
.socials{
	position: fixed;
  top: 248px;
  left: 0px;
  z-index: 2;
}
.socials>a{
	width: 54px;
  height: 54px;
  overflow: hidden;
  display: flex;
  margin-bottom: 2px;
	justify-content: center;
	text-decoration: none;
	align-items: center;
  background-color: firebrick;
  text-align: center;
}
.footer{
	display: flex;
	margin-top: 3rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	padding-left: 5rem;
  padding-right: 5rem;
	font-size: 12px !important;
}
.social-container{
	padding-bottom: 2rem;
}
.social-container>a{
	padding: 1rem;
	margin-bottom: 2rem;
}
.email-form{
	color: white;
	display: flex;
	width: 800px;
	height: 100vh;
	max-width: 1200px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.gallery{
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1350px;
}
.gallery>a>img{
	max-width: 400px;
}
input{
	width: 100%;
	margin: 0rem 0rem 2rem 0rem;
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
textarea{
	width: 100%;
	margin: 0rem 0rem 2rem 0rem;
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
button{
	width:50%;
}
.button{
	background-color: firebrick;
	border-radius: 2px;
	border: none;
	color: white;
	border-bottom: 3px solid firebrick;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
mark{
background-color: transparent;
color: firebrick;
}
hr{
	width: 50%;
	color: firebrick;
	border:0px;
	background-color: firebrick;
	height: 1px;
}

.blink{
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation: blinking 10s ease infinite;  /* Safari 4+ */
  -moz-animation: blinking 10s ease infinite;  /* Fx 5+ */
  -o-animation: blinking 10s ease infinite;  /* Opera 12+ */
  animation: blinking 10s ease infinite;  /* IE 10+, Fx 29+ */
}
.blink-reverse{
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-animation: blinking-reverse 10s ease infinite;  /* Safari 4+ */
	-moz-animation: blinking-reverse 10s ease infinite;  /* Fx 5+ */
	-o-animation: blinking-reverse 10s ease infinite;  /* Opera 12+ */
	animation: blinking-reverse 10s ease infinite;  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes blinking-reverse{
  0% {
    opacity: 0.5;
  }
  50% {
		opacity: 0.5;
  }
	100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinking{
  0% {
    opacity: 0;
  }
  50% {
		opacity: 1;
  }
	100% {
    opacity: 0;
  }
}
